.install_dependencies:
  before_script:
    - apt-get update
    - apt-get install -y libgstreamer1.0-dev libgstreamer-plugins-base1.0-dev gstreamer1.0-plugins-good meson
    - 'echo -e "Types: deb\nURIs: https://deb.debian.org/debian/\nSuites: sid\nComponents: main" > /etc/apt/sources.list.d/forky.sources'
    - apt-get update
    - apt-get install -y libglycin-2-dev
  interruptible: true

include:
  - component: "gitlab.gnome.org/GNOME/citemplates/release-service@master"
    inputs:
      job-stage: deploy
      dist-job-name: build-release-tarball

build-release-tarball:
  image: rust:1.92-trixie
  extends: .install_dependencies
  script:
    - meson setup builddir
    - meson dist -C builddir
    - cp -r builddir/meson-dist public-dist
  artifacts:
    name: ${CI_JOB_NAME}-${CI_COMMIT_REF_NAME}
    paths:
      - public-dist

test-x86_64:
  image: rust:1.92-trixie
  extends: .install_dependencies
  interruptible: true
  script:
    - cargo test

test-aarch64:
  image: rust:1.92-trixie
  extends: .install_dependencies
  tags:
    - aarch64
  script:
    - cargo test

cargo-clippy:
  image: rust
  extends: .install_dependencies
  interruptible: true
  allow_failure: true
  script:
    - rustup component add clippy
    - cargo clippy

cargo-deny:
  image: rust
  extends: .install_dependencies
  interruptible: true
  allow_failure: true
  script:
    - cargo install --locked cargo-deny
    - cargo deny check

cargo-fmt:
  image: rust
  extends: .install_dependencies
  interruptible: true
  allow_failure: true
  script:
    - rustup component add rustfmt
    - cargo fmt --check
