.install_dependencies:
  before_script:
    - apt-get update
    - apt-get install -y libgstreamer1.0-dev libgstreamer-plugins-base1.0-dev gstreamer1.0-plugins-good
  interruptible: true

test-x86_64:
  image: rust:1.88-trixie
  extends: .install_dependencies
  interruptible: true
  script:
    - cargo test

test-aarch64:
  image: rust:1.88-trixie
  extends: .install_dependencies
  tags:
    - aarch64
  script:
    - cargo test

cargo-clippy:
  image: rust
  extends: .install_dependencies
  interruptible: true
  allow_failure: true
  script:
    - rustup component add clippy
    - cargo clippy

cargo-deny:
  image: rust
  extends: .install_dependencies
  interruptible: true
  allow_failure: true
  script:
    - cargo install --locked cargo-deny
    - cargo deny check

cargo-fmt:
  image: rust
  extends: .install_dependencies
  interruptible: true
  allow_failure: true
  script:
    - rustup component add rustfmt
    - cargo fmt --check
